.container_landing {
	display: grid;
	grid-template-columns: auto;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-image: url("../../assets/fondoL.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
	position: fixed;
}
.ttile_L{
	margin:-100px auto -199px;
	width: 30%;
}
.preess{
	margin: auto auto -10px;
	width: 10%;
	height: auto;
}
.img_fle{
	margin: -10px auto;
	width: 5%;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.bar{
	width: 70px;
	margin: -36px 49% 110px 49%;
}
.title_name{
	margin: 0;
	width: 25%;

}
span {
	font-size: 15px;
	text-decoration: none;
	color: transparent;
	transition: all 0.4s ease-in-out;
} 

.container_button {
	text-decoration: none;
	background-color: white;
	border-radius: 100%;
	width: 70px;
	height: 75px;
}
@media (max-width:500px) {
	.ttile_L{

		width: 85%;
	}
	.preess{
		width: 40%;
		margin: 20px auto ;
	}
	.img_fle{
		margin: -200px auto -1px;
		width: 10%;
		transform: translatey(0px);
		animation: float 6s ease-in-out infinite;
	}
	.bar{
		width: 70px;
		margin: -180px 49% 110px 45%;
	}
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}

	50% {
	
		transform: translatey(-30px);
	}

	100% {
		
		transform: translatey(0px);
	}
} 